<div class="container">
    <section>
        <h2>Services</h2>
        <div>
            <div>
                <h4>E-Commerce</h4>
                <p>Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet.</p>
            </div>
        </div>
    </section>
    <section>
        <h2>Portfolio</h2>
        <p>Lorem Ipsum dolor sit amet consecutor</p>
        <div>
            <div>
                <img src="" />
                <h6>Dreams</h6>
                <span>Website Design</span>
            </div>
        </div>
    </section>
</div>
